altair  
attrs  
blinker  
Brotli  
cachetools  
certifi  
charset-normalizer  
click  
contourpy  
cycler  
filelock  
fonttools  
fsspec  
gitdb  
GitPython  
idna  
Jinja2  
jsonschema  
jsonschema-specifications  
kiwisolver  
lapx  
markdown-it-py  
MarkupSafe  
matplotlib  
mdurl  
mpmath  
mutagen  
networkx  
numpy  
nvidia-cublas-cu12  
nvidia-cuda-cupti-cu12  
nvidia-cuda-nvrtc-cu12  
nvidia-cuda-runtime-cu12  
nvidia-cudnn-cu12  
nvidia-cufft-cu12  
nvidia-curand-cu12  
nvidia-cusolver-cu12  
nvidia-cusparse-cu12   
nvidia-nvjitlink-cu12  
nvidia-nvtx-cu12  
opencv-python  
packaging  
pafy  
pandas  
pillow  
protobuf  
psutil  
py-cpuinfo  
pyarrow  
pycryptodomex  
pydeck  
Pygments  
pyparsing  
python-dateutil  
pytz  
PyYAML  
referencing  
requests  
rich  
rpds-py  
scipy  
seaborn  
six  
smmap  
streamlit  
sympy  
tenacity  
toml  
toolz  
torch  
torchvision  
tornado  
tqdm  
typing_extensions  
tzdata  
ultralytics  
ultralytics-thop  
urllib3  
watchdog  
websockets  
yt-dlp  
